<?xml version='1.0' encoding='utf-8'?>
<widget id="com.theshinebox.threeM" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3M</name>
    <description>
    </description>
    <author email="jessie@theshinebox.com" href="http://www.theshinebox.com/">
    </author>
    <author email="bryan.smith@solutiondesign.com" href="http://solutiondesign.com/">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <feature name="http://api.phonegap.com/1.0/file"/>
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/AppIcon29x29.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/AppIcon40x40.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/AppIcon60x60.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/AppIcon76x76.png" />
</widget>
