<header>
    <div class="nav-back">
        <a class="back"><img src="img/back_arrow.png"/></a>
    </div>
    <h1>Browse</h1>
</header>
<div class="pane product-list">
    <article class="contents-wrap">
        <ul>
            {{#each products}}
                <li><a class="browse-next select-button multiple transparent list med" data-id="{{id}}">
                    <img class="select-thumb prod-thumb" src="img/{{image}}" />
                    <div class="product-name-browse">
                        {{name}}
                    </div>
                    <div class="color">
                        <img src="img/right_arrow.png"/>
                    </div>
                </a></li>
            {{/each}}
        </ul>
    </article>
</div>