<div class="pane product-list">
    <div class="contents-wrap">
        {{#each categories}}
            <h1>{{name}}</h1>
            {{#each families}}
                <a class="family list product-button" data-family="{{name}}">{{name}}</a>
            {{/each}}
            <br />
        {{/each}}
    </div>
</div>