<article class="contents-wrap">
    <h2 class="question">To what kind of radio will you be connecting your headset?</h2>
    <div class="copy-wrap-select-box">
        <div id="mfrRegion">
            <select class="question-select-box" id="manufacturer">
                <option>Select Radio Brand</option>
                {{#each meta.mfrs}}
                    <option value="{{mfr}}">{{mfr}}</option>
                {{/each}}
            </select>
        </div>
        <div id="mdlRegion">
        </div>
    </div>
    <a class="next select-button">
        Submit
    </a>
</article>