<article class="contents-wrap">
    <h2 class="question">To what kind of radio will you be connecting your headset?</h2>
    <div class="copy-wrap-select-box">
        <select class="question-select-box" id="manufacturer">
            <option>Select Radio Brand</option>
            {{#each meta.mfrs}}
            <option>{{mfr}}</option>
            {{/each}}
        </select>
        <select class="question-select-box" id="model">
            <option>Select Radio Model</option>
            {{#each model}}
            <option>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <a class="next select-button">
        Submit
    </a>
</article>