<div class="screen montage">
    <img class="montage-top" src="img/top_montage.jpg"/>
    <nav class="cat-nav">
        <ul>
            <li>
                <a class="next select-button det-icon">
 
                    Detection
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button pro-icon">
                    Protection
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button com-icon">
                       Communication
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button val-icon">

                    Validation
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
        </ul>
        <img class="home-icon" src="img/detection.png" />
        <img class="home-icon" id="overlap" src="img/protection.png" />
        <img class="home-icon" id="last-icon" src="img/validation.png" />
    </nav>
    <img class="bottom-montage" src="img/bottom_montage.jpg"/>
</div>