<div class="screen montage">
    <img class="montage-top" src="img/top_montage.jpg"/>
    <nav class="cat-nav">
        <ul>
            <li>
                <a class="next select-button det-icon">
                    <img class="home-icon" src="img/detection.png" />
                    Detection
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button pro-icon">
                    <img class="home-icon" src="img/protection.png" />
                    Protection
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button com-icon">
                    <img class="home-icon" src="img/protection.png" />
                    Communication
                    <img class="right-arrow" src="img/right_arrow.png" />
                </a>
            </li>
            <li>
                <a class="next select-button val-icon">
                    <img class="home-icon" src="img/validation.png" />
                    Validation
                    <!--<img class="right-arrow" src="img/right_arrow.png" />-->
                </a>
            </li>
        </ul>
    </nav>
    <img class="montage-top" src="img/bottom_montage.jpg"/>
</div>