<header>
    <div class="nav-back">
        <a class="back"><img src="img/back_arrow.png" /></a>
    </div>
    <h1>Matching Products</h1>
</header>
<article class="contents-wrap">
    {{#each products}}
    <a class="open-product product-button multiple list med match-list" data-id="{{id}}">
        <img class="select-thumb prod-thumb" src="img/{{image}}" />
        <div class="product-name-match">
            {{name}}
        </div>
        <div class="color match">
            <img src="img/right_arrow_black.png" />
        </div>
    </a>
    {{/each}}
</article>