<a class="open-product product-button multiple list med match-list" data-id="{{id}}">
    <img class="select-thumb prod-thumb" src="img/{{image}}" />
    <div class="product-name-match">
        {{name}}
    </div>
    <div class="color match">
        <img src="img/right_arrow_black.png" />
    </div>
</a>