<div class="contents-wrap">
	<h2>{{button_text}}</h2>
	{{#each assessments}}
		<a class="next select-button multiple image" data-subitem="{{{title}}}">
			<img class="select-thumb" src="img/{{image}}"/>
			    <div class="test-name">
			        {{{title}}}
			    </div>
			<img class="right-arrow" src="img/right_arrow.png"/>
		</a>
	{{/each}}
</div>