<div id="splash">
    <img src="img/3M_logo.jpg" />
    <div class="slogans">
        <h4 class="bolder">3M™ Hearing Solutions</h4>
        <h4>The power to protect your world.<sup>SM</sup></h4>
    </div>
</div>