/*
Teal: #2d9298
Lime: #88cb5e
Light Lime: #e5f0de
Protection:

Blue: #21409a
Yellow: #d9cf17
Background copy: #e1e6f4
Communications Gray: #777777
*/


/*Universal*/
body {
	font-family: 'Helvetica Neue',arial,sans-serif;
	overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    background-color: #ffffff;
}

#main {
    position: relative;
    height: 100%;
}

.section {
    top: 0px;
	width: 100%;
	height:auto;
	position: absolute;
	min-height: 100%;
	background-color: #ffffff;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
}

/*End Universal*/

/*Footer nav styles*/
#main-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	border-top: 1px solid #d7d7d7;
	background-color: rgba(255,255,255,1);
	height:4em;
}

nav ul {
	padding:0;
	margin: 0;
	height:100%;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	width:49%;
	padding-top: 0.3em;
	padding-bottom: 0.1em;
	height:100%;
}

nav ul li a{
	text-decoration: none;
	color: #000000;
	display: block;
	font-size: 0.7em;
	margin: 0.15em auto 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	padding-top: 3.5em;

}

nav ul li a.home{
	background-image: url(../img/home.png);
	background-repeat: no-repeat;
	background-size: 24% auto;
	background-position: center top;
}

/*nav ul li a.open-assessments{
	background-image: url(../img/assessments.png);
	background-repeat: no-repeat;
	background-size: 20% auto;
	background-position: center top;
}*/

nav ul li a.open-browse{
	background-image: url(../img/browse.png);
	background-repeat: no-repeat;
	background-size: 24% auto;
	background-position: center top;
}
/*End footer nav styles*/

/*Opening page nav styles*/
nav.cat-nav {
	position: relative;
	width: 100%;
	border-top: none;
	background-color: #ffffff;
	height: 5.938em;
}

nav.cat-nav ul {
	text-align: center;
}

nav.cat-nav ul li {
	display: inline-block;
	list-style-type: none;
	/*width:100%;*/
	padding-top: 0;
	padding-bottom: 0;
	height:auto;
}

nav.cat-nav ul li a{
	padding-top: 5em;
	text-decoration: none;
	color: #21409a;
	display: block;
	font-size: 1em;
	margin: 0.15em auto 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	font-family: 'Archivo Narrow',sans-serif;
}

nav.cat-nav ul li a.det-icon{
    /*background-color: #2d9298;*/
	background-image: url(../img/detection.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

nav.cat-nav ul li a.pro-icon{
    /*background-color: #21409a;*/
	background-image: url(../img/protection.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

/*End opening page nav styles*/


/*Opening page styles*/
img.montage {
	width: 100%;
}
/*End opening page styles*/

.pane {
	height: auto;
	min-height: 100%;
	position: absolute;
	width: 100%;
}

/*Headlines*/
h1 {
	color: #000000;
	font-size: 1.125em;
	font-weight: 200;
	height: 1.95em;
	letter-spacing: 0.04em;
	margin: 0;
	padding-top: 0.5em;
	text-align: center;
	width: 100%;
	z-index: 1005;
	position: absolute;
}

.detection h2 {
	color: #2D9298;
	font-family: 'Archivo Narrow',sans-serif;
	font-size: 1.8em;
	font-weight: 100;
	margin-bottom: 0.2em;
	margin-left: 0.3em;
	margin-top: 0.2em;
}

.detection h2.question {
	color: #88CB5E;
	line-height: 1.25em;
	margin-bottom: 0;
	margin-top: 1em;
}

.protection h2 {
    color: #21409a;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    margin-top: 0.2em;
}

.protection h2.question{
    color: #21409a;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-top: 1em;
}

.communication h2 {
    color: #00a4e2;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    margin-top: 0.2em;
}

.communication h2.question{
    color: #00a4e2;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-top: 1em;
}

.validation h2 {
    color: #777777;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    margin-top: 0.2em;
}

.validation h2.question{
    color: #777777;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-top: 1em;
}

h2.product-name {
	margin-bottom: 0;
	text-align: center;
	font-size: 1.6em;
}

h3 {
	font-size: 1.5em;
	font-weight: 200;
	color: #88CB5E;
	margin-left: 0.5em;
	margin-top: 0;
	font-family: 'Archivo Narrow', sans-serif;
}

h3.sub-head {
	font-weight: 400;
	font-size: 1.125em;
	text-align: center;
	font-family: 'Helvetica Neue',arial,sans-serif;
}

h4{
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 100;
	color: #000000;
	font-size: 1.1em;
	text-align: center;
}

h4.bolder {
	font-weight: 500;
	font-size: 1.3em;
	text-align: left;
	padding-left: 1em;
	margin: 0.75em 0;
}

/*End Headlines*/

.detection {
	background-image: url(../img/bg_top.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.protection {
    background-image: url(../img/prot/protection_top_bg.jpg);
   background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.communication{
    background-image: url(../img/comm/communication_top_bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.validation{
    background-image: url(../img/val/val-top-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header {
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
	height:2.75em;
	border-bottom: 1px solid #d7d7d7;
	background-color: rgba(255,255,255,1);
	width: 100%;
	z-index: 999;
}

.nav-back {
	float: left;
	height: 100%;
	width: 20%;
	z-index: 1010;
	position: relative;
}

.nav-back a {
	display: block;
	height: 100%;
	width: 100%;
}

.back img {
	height: 65%;
	margin-left: 1em;
	margin-top: 0.5em;
}

.contents-wrap {
	padding-top: 2.75em;
	padding-bottom: 4em;
	width: 100%;
}

.fix {
    position: fixed;
}

.full-width {
	width: 100%;
}

.full-width img {
	width: 100%;
}

.detection .select-button {
    background-color: #2D9298;
}

.protection .select-button {
    background-color: #21409A;
}

.communication .select-button {
    background-color: #00a4e2;
}

.validation .select-button {
    background-color: #777777;
}


.select-button {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 200;
    padding: 1em 0;
    letter-spacing: 0.04em;
    position: relative;
    text-decoration: none;
    display: block;
    text-align: center;
    overflow: hidden;
}

.product-button {
    background-color: rgba(255,255,255,0.6);
    color:#000000;
    font-size: 1.5em;
    font-weight: 200;
    padding: 1em 0;
    letter-spacing: 0.04em;
    position: relative;
    text-decoration: none;
    display: block;
    text-align: center;
    overflow: hidden;
}

img.right-arrow {
	height: 18%;
	margin-top: 0.4em;
	position: absolute;
	right: 3%;
}

img.select-thumb {
	left: 0;
	position: absolute;
	top: 0;
	width: 25%;
}

.green {
	background-color: #88cb5e;
}

.black {
	background-color: #000000;
}

.transparent {
	background-color: rgba(255,255,255,0.6);
	color:#000000;
}

.multiple {
	font-size: 1.3em;
	border-bottom: 1px solid #FFFFFF;
}

.small {
	font-size: 0.8em;
}

.med {
	font-size: 1.2em;
}

.list {
	font-family: 'Archivo Narrow',sans-serif;
	text-align: left;
	padding-left: 0.5em;

}

.color {
	background-color: #000000;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 15%;
}

.color img {
	position: absolute;
	right: 30%;
	top: 30%;
	width: 30%;
}

.det {
	background-color: #2d9298;
}

.pro {
	background-color: #20409a;
}

.com {
	background-color: #787778;
}

.link-description {
	background: #edf8f8;
}

.link-description h3 {
	margin-bottom: 0;
	padding: 0.5em 0;
}

.copy-wrap {
	padding: 1em;
}


.question-choices {
	position: relative;
	bottom:0;
	width: 100%;
}

.question-choices ul {
	width: 100%;
	padding: 0;
	margin: 0;
}

.question-choices ul li {
	display: inline-block;
	list-style-type: none;
	width: 100%;
}

.question-choices ul li a {
	color: #FFFFFF;
	display: block;
	font-weight: 200;
	padding: 1em 0;
	text-align: center;
	width: 100%;
	text-transform: none;
	font-size: 1.3em;
}

.detection .question-choices li:nth-of-type(1) {
    background: #88cb5e;
}

.detection .question-choices li:nth-of-type(2) {
    background: #2d9298;
}

.detection .question-choices li:nth-of-type(3) {
    background: #00aeef;
}

.protection .question-choices li:nth-of-type(1) {
    background: #d9cf17;
}

.protection .question-choices li:nth-of-type(2) {
    background: #21409a;
}

.protection .question-choices li:nth-of-type(3) {
    background: #eeb111;
}

.communication .question-choices li:nth-of-type(1) {
    background: #00a4e2;
}

.communication .question-choices li:nth-of-type(2) {
    background: #777777;
}

.communication .question-choices li:nth-of-type(3) {
    background: #21409a;
}

.validation .question-choices li:nth-of-type(1) {
    background: #eeb111;
}

.validation .question-choices li:nth-of-type(2) {
    background: #777777;
}

.validation .question-choices li:nth-of-type(3) {
    background: #88cb5e;
}


.detection .product-desc {
    background: #edf8f8;
}

.protection .product-desc {
    background: #e1e6f4;
}

.communication .product-desc {
    background: #e4e4e4;
}

.validation .product-desc {
    background: #ede8dc;
}



.product-desc h3 {
	margin-left: 0;
	margin-bottom: 0;
}

.product-desc p {
	margin: 0.3em 0 1.5em;
}

.general {
	background-image: url(../img/general_bg_top.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

.browse {
	left:  0%;
	top: 0%;
}

.browse-back {
	float: left;
}

.browse-back a {
	height:100%;
	width:10%;
	z-index: 1010;
	position: absolute;
}

.browse-back img {
	height: 1.25em;
	margin-left: 0.5em;
	margin-top: 0.7em;
	position: absolute;
}

.browse-back-arrow {
	opacity:1;
}

.active-nav {
	background-color: rgba(120,120,120,0.5);
}

.active-nav a.open-browse {
	background-image: url(../img/browse_white.png);
	background-repeat: no-repeat;
	background-size: 35% auto;
	background-position: center top;
	color: #FFFFFF;
}
/*New Product Page Styles*/

.product-desc ul{
	margin: 0.3em 0 1.5em;
}

.product-desc ul li{
	list-style-type: disc;
	margin-left: 2em;
}

.associated-product-info {
	font-size: 0.875em;
}

.associated-product-info table {
	background-color: #ebebeb;
	width:100%
}

.associated-product-info thead {
	font-weight: bold;
}

.associated-product-info table td{
	border: 1px solid #FFFFFF;
	padding: 1em;
}

.footnote {
	font-size: 0.75em;
}

/*New Opening Montage*/

/*Opening page nav styles*/

#splash {
    animation: fadeout 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;

}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout /* Safari and Chrome */
{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#splash img {
	margin: 0 auto;
	width: 30%;
	display: block;
	margin-top: 10em;
}

#splash video {
	margin: 10em auto 0;
	position: relative;
	display: block;
}

#splash h3 {
	text-align: center;
}



.slogans {
	width: 100%;
	position: fixed;
	bottom:0;
	padding-bottom: 2em;
}

h4.bolder {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0.75em 0 0;
    text-align: center;
    padding: 0;
}

h4 {
    color: #000000;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.opening {
	animation:fadein 1s;
	animation-delay:2s;
	animation-fill-mode: forwards;
	-webkit-animation:fadein 1s; /* Safari and Chrome */
	-webkit-animation-delay:2s;
	-webkit-animation-fill-mode: forwards;
	background: transparent;

	}

	@keyframes fadein
	{
	0%   {opacity:0;}
	100% {opacity:1;}
	}

	@-webkit-keyframes fadein /* Safari and Chrome */
	{
	0%   {opacity:0;}
	100% {opacity:1;}
	}

.montage-top {
	width:100%;
	margin-top: 10px;
}

.bottom-montage {
	width: 100%;
}

.home-icon {
	left: 8px;
	position: absolute;
	top: 4px;
	height:48px;

}

#overlap {
top: 84px;
}

#last-icon {
top: 166px;
}

#video_background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

/*Opening page nav styles*/


nav.cat-nav {
	position: relative;
	width: 100%;
	border-top: none;
	background-color: transparent;
	height:auto;
	display: block;
	margin-bottom: 4px;
}




nav.cat-nav ul {
	text-align: center;
}

nav.cat-nav ul li {
	display: block;
	list-style-type: none;
	width:100%;
	padding-top: 0;
	padding-bottom: 0;
	height:auto;

}



nav.cat-nav ul li a{
	color: #FFFFFF;
	display: block;
	font-family: 'Helvetica Neue',arial,sans-serif;
	margin: 0.1em auto 0;
	padding: 0.85em 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	font-weight:200;
	font-size: 1.1em;

}


nav.cat-nav ul li a.det-icon{
	background-color: #2d9298;
	background-image: none;
	right: 100%;
	animation:slidein 1s;
	animation-delay:0s;
	animation-fill-mode: forwards;
	-webkit-animation:slidein 1s;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode: forwards;

}

nav.cat-nav ul li a.pro-icon{
	right: 100%;
	background-color: #21409a;
	background-image: none;
	animation:slidein 1s;
	animation-delay:0s;
	animation-fill-mode: forwards;
	-webkit-animation:slidein 1s;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode: forwards;
}



nav.cat-nav ul li a.com-icon{
	right: 100%;
	background-color: #00a4e2;
    background-image: none;
	animation:slidein 1s;
	animation-delay:0s;
	animation-fill-mode: forwards;
	-webkit-animation:slidein 1s;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode: forwards;
}

nav.cat-nav ul li a.val-icon{
	right: 100%;
	background-color: #777777;
	background-image: none;
	animation:slidein 1s;
	animation-delay:0s;
	animation-fill-mode: forwards;
	-webkit-animation:slidein 1s;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode: forwards;
}

@keyframes slidein
{
0%   {right:100%}
100% {right: 0;}
}

@-webkit-keyframes slidein /* Safari and Chrome */
{
0%   {right:100%}
100% {right: 0;}
}


.product-name-browse {
    float:left;
    font-size: 0.875em;
    width: 70%;
}

.test-name {
    font-size: 0.875em;
    float: left;
    width: 120%;
}
.match-list {
    padding: 0;
}

.match {
    background-color: transparent;
    width: 10%;
}

.product-name-match {
    float: left;
    font-size: 0.75em;
    width: 64%;
    padding: 0.5em 0.5em 0;

}

img.prod-thumb {
    float: left;
    position: relative;
}

.small-text {
	font-size: 0.5em;
}

.copy-wrap-select-box {
	padding-top: 1.3em;
	padding-bottom: 2.5em;
}

.question-select-box {
	display: block;
	margin: 0.5em auto 0;
	width: 90%;
}

/*New Browse Styles*/

.contents-wrap h1 {
	text-transform: uppercase;
	font-weight:bold;
	text-align: left;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	position: relative;
	background-color: rgba(255,255,255,0.6);
	height: auto;
}

a.family.list.product-button {
	padding: 0.875em 1em 0.875em 2em;
	font-family: sans-serif;
	font-size: 1em;
	border-bottom: 1px solid #d7d7d7;
}

a.browse-next.select-button.multiple.transparent.list.med {
	padding: 0.875em 0.5em 0.875em 0.2em;
}

a.browse-next img.select-thumb.prod-thumb {
	max-height: 50px;
	width: auto;
	margin-right: 0.5em;
}